<div class="affix">
  <form (ngSubmit)="buttonSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label>Start Date</label><br />
      <ng2-datepicker ngModel name="startDate"></ng2-datepicker>
    </div>
    <div class="form-group">
      <label>End Date</label><br />
      <ng2-datepicker ngModel name="endDate"></ng2-datepicker>
    </div>
    <button class="btn btn-default" type="submit">Submit</button>
    <br /><br />
  </form>
  <form (ngSubmit)="buttonEVE()">
    <button class="btn btn-danger">Call EVE-Api</button>
  </form>
</div>

