
      <div *ngIf="isLoading">
        <div class="progress">
          <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span>Loading</span>
          </div>
        </div>
      </div>
      <div *ngIf="!isLoading">
      <table class="table table-responsive">
        <tr class="">
          <th class="text-center" >Name</th>
          <th class="text-center">ISK</th>
        </tr>
        <tr *ngFor='let picorptaxKey of picorptax'>
          <td class="text-center">{{ picorptaxKey.user }}</td>
          <td class="text-center">{{ picorptaxKey.amount | number:'1.2-2' }}</td>
        </tr>
      </table>
      </div>
